<div class="container">
<div class="row white">
	<div class="col-lg-12">
		<h1 class="title4">Características y Metodología</h1>
		<h2 class="first_word center">Conectividad - Internet of things</h2>
		<ul class="values_list">
		  <li>Los participantes tiene que traer artefactos u objetos propios sobre los cuales implementarán electrónica para lograr generar versiones mejoradas de dichos productos, los cuales tiene como característica la conectividad con internet.</li>
		    <li>Equipos máximos de 5 personas.</li>
		    <li>Costo de inscripción: 20.000.</li>
		    <li>Los equipos deben traer sus propias computadoras portátiles.</li>
		    <li>Para ingresar al evento como visitantes: Deben dar como entrada, algún artefacto electrónico desarmable, que los competidores utilizarán como fuente de componentes para la elaboración de sus prototipos. Ej: Impresoras viejas, carritos de juguete, equipos de audio viejos, legos.</li>
		    <li>Los equipos podrán llevar un avance constructivo de su prototipo, sin embargo, este avance se tomará como punto de partida para las 48 horas de competición. Una vez concluida la competencia se someterá a evaluación el avance realizado en el sistema comparando su estado inicial (Sábado 6 de diciembre) y su prototipo final (Lunes 8 de Diciembre)</li>
		    <li>Los participantes pueden traer hardware propio, sin límite de sensores, controladores, microcontroladores. Restricción de procesamiento: Menores a 1Ghz frecuencia de operación.</li>
		    <li>El Hardware suministrado por la organización, estará a disposición de los participantes el primer día del evento, Sábado 6 de Diciembre</li>
		    <li>La organización pondrá a disposición de cada equipo: Fuentes de alimentación, multímetros y puntas de prueba.</li>
		    <li>La organización dispondrá de los siguientes espacios dedicados a compartir recursos con la comunidad participante:
		    	<ul>
			    <li>Mesas de alimentación</li>
			    <li>Mesa con materiales de diseño: Gomas, tijeras, gasas plásticas, balsa, goma loca, plastilina, ligas plásticas, cutter.</li>
			    <li>Mesa de medición electrónica: Osciloscopios, fuentes, multímetros, equipo de soldadura. Administrada por un asesor.</li>
			    <li>Mesa ferretera: Taladros, sierras, destornilladores, serruchos, cubos. Administrada por un especialista.</li>
			    <li>Mesa de Hardware: Espacio para abastecer de equipo electrónico base a los participantes.</li>
			    <li>Mesa de suministro de recursos: Espacio para abastecer de recursos a partir de artefactos electrónicos desarmables. </li>
			    <li>Mesa asesores: Hardware, Reglamento, Conexión a internet.</li>
			</ul>
		</li>
		</ul>
	</div><!-- col-lg-12 -->
</div><!-- row -->
</div><!-- container -->
