<div class="div_content">
	<div class="container">
			<div class="row white">
			<br>				
				<div class="col-lg-12">
					<p>Somos un grupo de soñadores con diferentes aficiones y áreas de formación profesional, que comparten una misma <a href="#mision" class="smoothScroll">misión y visión</a>, con la determinación de generar conciencia a través de todos nuestros servicios y productos; para ello creemos en los siguientes valores:</p>
					<ul  class="values_list">
					  <li><p><span class="first_word">Cultura Abierta</span> para compartir ideas y opiniones, por medio del trabajo práctico y colaborativo.</p></li>
					  <li><p><span class="first_word">Ambiente de Trabajo</span> como un estilo de vida diferente a lo habitual con altos niveles de diversión y creatividad.</p></li>
					  <li><p><span class="first_word">Enfoque en el Cliente</span> buscando proporcionar la mejor experiencia y acompañamiento posible.</p></li>
					  <li><p><span class="first_word">Humildad</span> con socios, clientes y proveedores, manteniendo gratitud, respeto, honestidad, responsabilidad y un alto deseo de superación.</p></li>
					</ul>
				</div><!-- col-lg-12 -->
			</div><!-- row -->
		</div><!-- container -->
</div>